.hero-header {
    background-color: #727c42;
    height: 400px;
}

.personal-info {
    background-color: #fde5c1;
    height: 400px;
}

.services {
    background-color: #fde5c1;
    height: 400px;
}

.contact {
    background-color: #727c42;
    height: 400px;
}